<div class="well row">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th>Vote!</th>
        <th>Brewery</th>
        <th>Alcohol</th>
        <th>Colour</th>
        <th>IBUs</th>
      </tr>
    </thead>

    <tbody>
      <% @beers.each do |beer| %>
      <tr>
        <td>
          <%= beer.name %>&nbsp;
        </td>
        <% if current_user.admin? %>
        <td>
          <%= link_to "Order by Email", beer.email_order %>
        </td>
        <% else %>
        <td></td>
        <% end %>
        <td>
          <a href="/upvote?beer_id=<%=beer.id%>">Like it!</a>&nbsp;|&nbsp;<a href="/downvote?beer_id=<%=beer.id%>">Dislike it</a>
        </td>
        <td><%= beer.brewery %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Call Em Up!', call_brewery_url(beer.manufacturer) %></td>
        <% end %>
        <td><%= beer.abv %>%</td>
        <td style="<%= color_for_srm(beer.srm) %>" class="beer-colour">
          <%= beer.srm %>
        </td>
        <td><%= beer.ibus %>
      </tr>
      <% end %>
    </tbody>
  </table>