<h1>What's on Tap?</h1>

<div class="row well">
  <div class="span12">
    <ul class="unstyled">
      <% @beer_taps.each do |beer_tap| %>
      <li>
        <% if beer_tap.detached? %>
        <%= beer_tap.name.titleize %> Tap is not Hooked Up
        <% else %>
        <div class="span1">
          <%= beer_tap.keg.beer.name %> on <%= beer_tap.name %> tap
        </div>
        <div class="span2">
          <%= number_with_precision(beer_tap.keg.remaining, :precision => 2) %>
          / 
          <%= number_with_precision(beer_tap.keg.capacity, :precision => 2) %>
        </div>
        <div class="span8 offset1">
          <div class="progress">
            <div class="bar bar-<%= beer_tap.keg.status %>" style="width:<%= beer_tap.keg.ratio %>%;">
              <% if beer_tap.keg.below_threshold? %>
              <span>Running Low!</span>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<h1>&#9765; The Bible &#9765;</h1>

<div class="well row">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th>Brewery</th>
        <th></th>
        <th>Alcohol</th>
        <th>Colour</th>
        <th>IBUs</th>
      </tr>
    </thead>

    <tbody>
      <% @beers.each do |beer| %>
      <tr>
        <td>
          <%= beer.name %>&nbsp;
        </td>
        <% if current_user.admin? %>
        <td>
          <%= link_to "Order by Email", beer.email_order %>
        </td>
        <% else %>
        <td></td>
        <% end %>
        <td><%= beer.brewery %></td>
        <% if current_user.admin? %>
        <td><%= link_to 'Call Them', call_brewery_url(beer.brewery) %></td>
        <% end %>
        <td><%= beer.abv %></td>
        <td style="<%= color_for_srm(beer.srm) %>" class="beer-colour">
          <%= beer.srm %>
        </td>
        <td><%= beer.ibus %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>