<div class="row">
  <%= simple_form_for @beer, :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.input :name %>
    <%= f.input :abv %>
    <%= f.input :srm %>
    <%= f.input :ibus %>
    <%= f.input :brewery %>
    <%= f.association :manufacturer %>
    
    <%= f.submit 'Submit', :class => 'btn btn-success' %>
  <% end %>
</div>